.quizCardContainer {
  min-width: 900px;
  min-height: 200px;
  border-radius: 8px;
  padding: 20px;
  background-color: #28282c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #1976d2;
  color: #e2e3e7;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameOfQuiz {
  font-weight: 700;
  font-size: 28px;
}
.countOfQuestions {
  font-weight: 700;
  font-size: 20px;
}
