.quizCardContainer {
  max-width: 550px;
  min-height: 200px;
  border-radius: 8px;
  padding: 20px;
  background-color: #28282c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #e2e3e7;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameOfQuiz {
  font-weight: 700;
  font-size: 28px;
}
.countOfQuestions {
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 930px) {
  .quizCardContainer {
    min-width: 700px;
  }
}
@media (max-width: 725px) {
  .quizCardContainer {
    min-width: -webkit-fill-available;
  }
}
