.quizType {
  font-size: 36px;
}
.yelow {
  color: yellow;
  font-weight: bold;
}
.html {
  font-weight: bold;
  color: #fa3800;
}

.css {
  font-weight: bold;
  color: #0f4aef;
}

.white-blue {
  font-weight: bold;
  color: rgb(8 126 164);
}
.blue {
  font-weight: bold;
  color: #3178c6;
}
