.questionBox {
  margin: 0 auto;
  min-width: 756px;
  min-height: 950px;
  padding-bottom: 20px;
  padding-top: 28px;
  gap: 45px;
}
.btnContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.questionAnswer {
  border: 1px solid black;
  margin-bottom: 5px;
}
